@import 'reset';
@import 'variables/global';

body {
  font: var(--font-m) var(--font-tenor);
  color: var(--primary-color);

  @media (max-width: 767px) {
    height: 100%;
    overflow: hidden;
  }
}

body:has(.isMenuClosed) {
  height: unset;
  overflow: unset;
}

.app {
  min-width: 390px;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.isMenuClosed {
  top: -100% !important;
}
