@import 'reset';
@import 'variables/global';

body {
  font: var(--font-m) var(--font-tenor);
  color: var(--primary-color);
}

.app {
  min-width: 390px;
  // max-width: 1440px;
  // margin: 0 auto;
  min-height: 100vh;
  background-color: var(--bg-color);
}
