.Hero {
  margin-top: 96px;
  margin-bottom: 136px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .supportButtonSmall {
    display: none;
  }

  @media (max-width: 767px) {
    margin-top: 44px;
    margin-bottom: 84px;

    .supportButtonSmall {
      display: block;
    }
    .supportButtonBig {
      display: none;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionRow,
.actionCollectionRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;

  div {
    flex-shrink: 100;
  }
}

.actionCollectionRow {
  position: relative;
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 56px;

    .collectionButton {
      width: 100%;
    }
  }
}

.alterRow {
  position: absolute;
  bottom: 0;
  left: 33%;
  translate: 0 100%;

  @media (max-width: 767px) {
    top: 28%;
    right: 8%;
    left: unset;
    translate: unset;
  }
}
