.Navbar {
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navList {
  display: flex;
  gap: 32px;
  align-items: center;
}

.navItem:nth-child(1) {
  margin-right: 32px;
}
